@font-face {
    font-family: Calligraffitti;
    src: url("../../fonts/Calligraffitti-Regular.ttf");
}

@font-face {
    font-family: CinzelDecorative;
    src: url("../../fonts/CinzelDecorative-Black.ttf");
}

@font-face {
    font-family: KolkerBrush;
    src: url("../../fonts/KolkerBrush-Regular.ttf");
}

@font-face {
    font-family: Monoton;
    src: url("../../fonts/Monoton-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../../fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: MsMadi;
    src: url("../../fonts/MsMadi-Regular.ttf");
}

@font-face {
    font-family: Nabla;
    src: url("../../fonts/Nabla-Regular-VariableFont_EDPT\,EHLT.ttf");
}

@font-face {
    font-family: Pacifico;
    src: url("../../fonts/Pacifico-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: RubikMoonrocks;
    src: url("../../fonts/RubikMoonrocks-Regular.ttf");
}

@font-face {
    font-family: Ruthie;
    src: url("../../fonts/Ruthie-Regular.ttf");
}